.login {
    display: grid;
    place-items: center;
    height: 100vh;
}
/* to be reverted to after db login implementation */
/* .login > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover{
    background-color: #fff;
    color: #2e81f4;
} */
#loginBtn{
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    text-decoration: none;
}

#loginBtn:hover{
    background-color: #fff;
    color: #2e81f4;
}
/* 
.logo2{
    width: 150px;
} */

.login > div > img {
    object-fit: contain;
    height: 90px;
}


.login > div {
    display: flex;
    flex-direction: column;
}
.login > div > p {
    margin-top: 90px;
    text-align: center;
}


